name: release_on_tag

on:
  push:
    tags:
      - "v*.*.*"
      
jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Checkout dependencies
      uses: actions/checkout@v2
      with:
        repository: ${{ secrets.LibsRepository }}
        token: ${{ secrets.LibsRepositoryToken }}
        path: 3rdparty/ml
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
      
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore -c Release
      
    - name: Publish a release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          .build/Release (x64)/Modules/ReModCE.dll
          .build/Release (x64)/Modules/ReMod.Core.dll
          .build/Release (x64)/Modules/ReModCE.Loader.dll
          .build/Release (x64)/Modules/net472/ReModCE.dll
          .build/Release (x64)/Modules/net472/ReMod.Core.dll
          .build/Release (x64)/Modules/net472/ReModCE.Loader.dll
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
